.menum{
height: 68px;
width: 100%;
background: red;
top: 0%;
right: 0%;
left: 0%;
}
.image{
padding:10px;
border:2px;
border-color:black;
}
p{
width:75%;
margin:auto;
}
body{
margin:0;
padding:0;
background-color: EAE6E6;
}
a.menu{
	transition: 0.5s;
	color:white;
	text-decoration: none;
	font-family: impact;
	padding: 10px;
}
a.menu:hover {
	color:red;
  text-decoration: none;
	background-color: white;
}
.bar{
	background-color:red;
}